.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: black;

}



#google-c {
    color: #a3a3a3;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Chalkduster';

}

.logo {
    padding-top: 50px;

    height: 200px;
    width: auto;
}

.sort-button {
    margin-top: 5px;
    padding: 10px 5px;
    font-size: 16px;
    width: 50px;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box-bar {
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 12px;
    width: 600px;
    background-color: white;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: white;
}

main {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("images/bottom-of-bin.png");
    background-repeat: repeat;
}

#answer-box {
    padding: 10px;
    padding-left: 50px;
    width: 70%;
}

#sidebar {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    border-radius: 4px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 5px 5px rgb(46, 46, 46);
    background-color: rgb(185, 185, 185);

}

.genres {
    width: 200px;
    height: 350px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

option {
    font-size: 16px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10px;
    margin: 20px 4px;
    border-radius: 4px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 5px 5px rgb(46, 46, 46);
    /* background-image: url("images/bin.png"); */
    background-color: rgb(214, 214, 214);
    background-repeat: repeat;
    /* background-size: 110%; */

}

.image {
    width: 200px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.col {
    display: flex;
    flex-direction: column;
}

.trash {
    height: 200px;
}

.movie-img {
    height: 200px;
    width: 160px;
    object-fit: cover;
    /* padding: 10px 10px; */
    margin: 20px 4px;
    border-width: 5px;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}



body {
    margin: 40px;
}

button {
    cursor: pointer;
    outline: 0;
    color: #AAA;

}

.btn:focus {
    outline: none;
}

.btn {
    width: 50px;
    height: 50px;
    bottom: 0;
}

.thumbs-up {
    color: green;
    margin: 40px;
}

.thumbs-down {
    color: red;
    margin: 40px;
}

.info {
    width: 100%;
}

.info h3 {
    font-size: 32px;
    color: black;
    font-family: 'Rockwell';
    margin-bottom: 0px;

}

.info .extra {
    margin-top: 0px;
    font-size: 28px;
    color: black;
    font-family: 'Bradley Hand';
    margin-bottom: 6px;

}

.info .episode-desc {
    margin-top: 0px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.social {
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.green {
    color: green;
}

.red {
    color: red;
}